name: Build Release
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Rust
        run: rustup update stable
      - name: Build
        # This environment variable tells openssl-sys to build its own copy
        env:
          OPENSSL_STATIC: 1
        run: cargo build -p slipstream-client --release --features openssl/vendored
      - name: Upload
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: slipstream-client-windows
          path: target/release/slipstream-client.exe
